body {
    background-color: #252325;
}

main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hour-ring, .number-ring, .date, .face {
    display: flex;
    align-items: center;
}

.hour-ind {
    position: absolute;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    width: 98vh;
    height: 98vh;
    background-color: transparent;
    animation: rotate 60s infinite linear;
}

circle {
    position: absolute;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hour-ring{
    margin: 0 auto 0 auto;
    border-radius: 50%;
    width: 98vh;
    height: 98vh;
    /*background-color: #404040;*/
    box-shadow: 0 -5vh 40vh #484848 inset;
    position: relative;
    background-image: url("../bezel.jpg");
    background-size: 120%;
}

.circle-container {
    position: absolute;
    width: 90vh;
    height: 90vh;
    /*border: dashed 1px;*/
    border-radius: 50%;
}

.circle-container h1 {
    font-size: 350%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%; left: 50%;
    width: 2em; height: 2em;
    margin: -1.4em; /* 2em = 4em/2 */ /* half the width */

}

h1 {
    line-height: 1.5;
}

.circle-container h1 { display: block; width: 100%; }
.deg0   { transform: rotate(5.8deg)  translate(6.2em) rotate(-5.8deg);  } /* 12em = half the width of the wrapper */
/*.deg15  { transform: rotate(15deg)  translate(6.6em) rotate(-15deg);  }*/
/*.deg30  { transform: rotate(30deg)  translate(6.8em) rotate(-30deg);  }*/
/*.deg45  { transform: rotate(45deg)  translate(6.8em) rotate(-45deg);  }*/
/*.deg60  { transform: rotate(60deg)  translate(6.7em) rotate(-60deg);  }*/
/*.deg75  { transform: rotate(75deg)  translate(6.6em) rotate(-75deg);  }*/
.deg90  { transform: rotate(79deg)  translate(6.05em) rotate(-79deg);  }
/*.deg105 { transform: rotate(105deg) translate(6em)   rotate(-105deg); }*/
/*.deg120 { transform: rotate(120deg) translate(5.6em) rotate(-120deg); }*/
/*.deg135 { transform: rotate(135deg) translate(5.2em) rotate(-135deg); }*/
/*.deg150 { transform: rotate(150deg) translate(4.9em) rotate(-150deg); }*/
/*.deg165 { transform: rotate(165deg) translate(4.7em) rotate(-165deg); }*/
.deg180 { transform: rotate(172deg) translate(4.2em) rotate(-172deg); }
/*.deg195 { transform: rotate(195deg) translate(4.5em) rotate(-195deg); }*/
/*.deg210 { transform: rotate(210deg) translate(4.5em) rotate(-210deg); }*/
/*.deg225 { transform: rotate(225deg) translate(4.5em) rotate(-225deg); }*/
/*.deg240 { transform: rotate(240deg) translate(4.5em) rotate(-240deg); }*/
/*.deg255 { transform: rotate(255deg) translate(4.5em) rotate(-255deg); }*/
.deg270 { transform: rotate(281deg) translate(4.7em) rotate(-281deg); }
.deg285 { transform: rotate(297.5deg) translate(5em) rotate(-297.5deg); }
.deg300 { transform: rotate(312.5deg) translate(5.3em) rotate(-312.5deg); }
.deg315 { transform: rotate(326.5deg) translate(5.54em) rotate(-326.5deg); }
.deg330 { transform: rotate(340.5deg) translate(5.8em) rotate(-340.5deg); }
/*.deg345 { transform: rotate(350deg) translate(6.4em) rotate(-350deg); }*/

h1 {
    color: ghostwhite;
    position: relative;
}

.number-ring {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 90vh;
    height: 90vh;
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 97%;
    box-shadow: 0 -15vh 25vh #151515 inset;
}

/*.date {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-radius: 50%;*/
    /*width: 50vh;*/
    /*height: 50vh;*/
    /*margin-top: 50vh;*/
    /*background-color: ghostwhite;*/
    /*box-shadow: 0 1vh 5vh #0f0f0f inset;*/
    /*clip-path: ellipse(15% 50% at 52% 50%);*/
    /*transform: rotate(90deg);*/
/*}*/

.face {
    position: absolute;
    margin-left: 10vh;
    margin-right: auto;
    border-radius: 50%;
    width: 70vh;
    height: 70vh;
    /*background-color: #1a1a1a;*/
    /*background-image: url("../gun_metal/gun_metal.png");*/
    background-image: url("../24-star.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 -1vh 5vh #0f0f0f inset;
    opacity: .6;
}
