body {
    background-color: #252325;
}

main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hour-ring, .number-ring, .date, .face {
    display: flex;
    align-items: center;
}

.hour-ind {
    position: absolute;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    width: 98vh;
    height: 98vh;
    background-color: transparent;
    animation: rotate 60s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hour-ring{
    /*leave this relative;*/
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    width: 98vh;
    height: 98vh;
    /*background-color: #404040;*/
    box-shadow: 0 -5vh 40vh #484848 inset;
    background-image: url("../bezel.jpg");
    background-size: 120%;
}

.circle-container {
    position: absolute;
    width: 90vh;
    height: 90vh;
    /*border: dashed 1px;*/
    border-radius: 50%;
}

.circle-container h1 {
    position: absolute;
    color: ghostwhite;
    font-size: 7.6vh;
    display: block;
    overflow: hidden;
    top: 50%; left: 50%;
    width: 2em; height: 2em;
    margin: -1.4em; /* 2em = 4em/2 */ /* half the width */
    line-height: 1.5;
}

.circle-container h1 { display: block; width: 100%; }
.deg0   { transform: rotate(5.8deg)  translate(6.2em) rotate(-5.8deg);} /* 12em = half the width of the wrapper */
.deg15  { transform: rotate(18deg)  translate(6.3em) rotate(-18deg);  }
.deg30  { transform: rotate(31deg)  translate(6.4em) rotate(-31deg);  }
.deg45  { transform: rotate(43deg)  translate(6.4em) rotate(-43deg);  }
.deg60  { transform: rotate(56deg)  translate(6.3em) rotate(-56deg);  }
.deg75  { transform: rotate(69deg)  translate(6.2em) rotate(-69deg);  }
.deg90  { transform: rotate(79deg)  translate(6.05em) rotate(-79deg); }
.deg105 { transform: rotate(93deg)  translate(5.8em)  rotate(-93deg); }
.deg120 { transform: rotate(107deg) translate(5.45em) rotate(-107deg); }
.deg135 { transform: rotate(120deg) translate(5.15em) rotate(-120deg); }
.deg150 { transform: rotate(137deg) translate(4.75em) rotate(-137deg); }
.deg165 { transform: rotate(153deg) translate(4.4em) rotate(-153deg); }
.deg180 { transform: rotate(172deg) translate(4.2em) rotate(-172deg); }
.deg195 { transform: rotate(190deg) translate(4.0em) rotate(-190deg); }
.deg210 { transform: rotate(209.5deg) translate(3.95em) rotate(-209.5deg); }
.deg225 { transform: rotate(230deg) translate(4em) rotate(-230deg); }
.deg240 { transform: rotate(246deg) translate(4.3em) rotate(-246deg); }
.deg255 { transform: rotate(264deg) translate(4.45em) rotate(-264deg); }
.deg270 { transform: rotate(281deg) translate(4.7em) rotate(-281deg); }
.deg285 { transform: rotate(297.5deg) translate(5em) rotate(-297.5deg); }
.deg300 { transform: rotate(312.5deg) translate(5.3em) rotate(-312.5deg); }
.deg315 { transform: rotate(326.5deg) translate(5.54em) rotate(-326.5deg); }
.deg330 { transform: rotate(340.5deg) translate(5.8em) rotate(-340.5deg); }
.deg345 { transform: rotate(353.5deg) translate(6em) rotate(-353.5deg); }

.number-ring {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 90vh;
    height: 90vh;
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 97%;
    box-shadow: 0 -15vh 25vh #151515 inset;
}

/*.date {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-radius: 50%;*/
    /*width: 50vh;*/
    /*height: 50vh;*/
    /*margin-top: 50vh;*/
    /*background-color: ghostwhite;*/
    /*box-shadow: 0 1vh 5vh #0f0f0f inset;*/
    /*clip-path: ellipse(15% 50% at 52% 50%);*/
    /*transform: rotate(90deg);*/
/*}*/

.face {
    position: absolute;
    margin-left: 10vh;
    margin-right: auto;
    border-radius: 50%;
    width: 70vh;
    height: 70vh;
    /*background-color: #1a1a1a;*/
    background-image: url("../gun_metal/gun_metal.png");
    /*background-image: url("../24-star.gif");*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 -1vh 5vh #0f0f0f inset;
    opacity: .6;
}
