body {
    background-color: #252325;
    /*font-family: Century Gothic, sans-serif;*/
    font-family: Gill Sans, Gill Sans MT, sans-serif;
    font-size: 250%;
    display: flex;
}

body > * {
margin: auto;
}

main {
    position: relative;
}

.hour-ring, .number-ring, .date, .face {
    display: flex;
    align-items: center;
}

.hour-ind, .sunSetIndicator, .sunRiseIndicator {
    position: absolute;
}

.hour-triangle {
    fill: #cc0000;
}

.sunSetIndicator {
    stroke: magenta;
    stroke-width: 5px;
}

.sunRiseIndicator {
    stroke: orange;
    stroke-width: 5px;
}

.hour-ring{
    /*leave this relative;*/
    position: relative;
    border-radius: 50%;
    width: 98vh;
    height: 98vh;
    box-shadow: 0 -5vh 40vh #484848 inset;
    background-image: url("/img/bezel.jpg");
    background-size: 120%;
}

.number-ring {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 90vh;
    height: 90vh;
    background: #262626 no-repeat center;
    background-size: 97%;
    box-shadow: 0 -15vh 25vh #151515 inset;
}

.face {
    position: relative;
    margin-left: 10vh;
    border-radius: 50%;
    width: 70vh;
    height: 70vh;
    background: url("../img/gun_metal.png") no-repeat center;
    background-size: 100%;
    box-shadow: 0 -1vh 5vh #0f0f0f inset;
    opacity: .6;
}

.area-of-sky {
    stroke: #36b4f3;
    stroke-width: 380px;
    fill: transparent;
}

.moon {
    stroke: silver;
    fill: silver;
}

.numbers, .ticks, .moon {
    position: absolute;
}

.numbers > text {
    fill: ivory;
    text-anchor: middle;
}

.ticks > line {
    stroke: ivory;
}

/*.date {*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*border-radius: 50%;*/
/*width: 50vh;*/
/*height: 50vh;*/
/*margin-top: 50vh;*/
/*box-shadow: 0 1vh 5vh #0f0f0f inset;*/
/*clip-path: ellipse(15% 50% at 52% 50%);*/
/*transform: rotate(90deg);*/
/*}*/
